
.section_two{
    text-align: center;
    background-image: url('./bg_img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 50px 0px;
}

.section_two_hero_text > span{
    color: #d4722b;
}.section_two_hero_text > p{
    color: #742f06;
    font-weight: bold;
    font-size: 13px;
}

h3{
    font-size: 40px;
    font-weight: bold;
    color: #742f06;
    font-family: "Alfa Slab One", serif;
    text-transform: capitalize;
}


.mini_card_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 20px;
    margin-top: 30px;
}.mini_card_container_1{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}.mini_card_container_2{
    display: flex;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 20px;
}

.mini_card{
    border-right: 5px solid #000;
    border-bottom: 5px solid #000;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-radius: 15px;
    width: 150px;
    padding: 20px;
}

.mini_card > span{
    color: #742f06;
    font-size: 15px;
    font-family: "Alfa Slab One", serif;
}



@media only screen and (max-width: 800px) {
    .mini_card_container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 30px;
    }.mini_card_container_1{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }.mini_card_container_2{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }
}